/* Bootstrap
===============================*/
a:visited,
a:focus {
	text-decoration: none;
}

.text-danger {
	color: #e0000b;
}

.btn {
	border-radius: 3px !important;
}

.btn-primary {
	background: #207bc1;
	border-color: #207bc1;
}

.btn-danger {
	background: #e0000b;
}

.btn-warning {
	background: #f7cf32;
	border-color: #f7cf32;
}

.table-bordered > thead > tr > th {
	color: #333;
}

/* Connect
===============================*/

.connect-list {
	background: #fff;
	margin: 20px 0 0;
	padding: 0;
}

.connect-list li {
	float: left;
	list-style: none;
	text-align: center;
	text-transform: uppercase;	
	width: 11%;
}

.connect-list li:first-child {
	border-right: 1px solid #e7e7e7;
	margin-right: 0.5%;
}

.connect-list li a {
	color: #333;
	display: block;
	min-height: 106px;
	padding: 20px 5px 10px;
	text-decoration: none;
}

.connect-list li img {
	display: block;
	margin: 0 auto 10px;
}

.connect-list a:hover,
.connect-list .active a {
	background: #e7e7e7;
	color: #1465af;
}

/* Service
==============================*/

.services-wrap {
	background: #3b8fd0;
	padding: 40px 0;
	text-align: center;
	margin-top: 20px;
}

.services-wrap .service {
	color: #fff;
}

.services-wrap .service a {
	color: #fff;
	text-decoration: none;
}

.services-wrap .service-title {
	font-size: 16px;
	font-weight: bold;
	margin: 0 0 30px;
	text-transform: uppercase;
}

.services-wrap .service-desc {
	color: rgba(255,255,255,.8);
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
	font-size: 13px;
	font-weight: lighter;
	padding: 25px 5px 10px;
}

.services-wrap .service .btn {
	background: transparent;
	border: 2px solid #fff;
	color: #fff;
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
	font-size: 13px;
	padding: 10px 36px;
	font-weight: bold;
}

.services-wrap .service .btn:hover {
	background: #fff;
	color: #207bc1;
}

/* History
==============================*/

.history-wrap {
	margin-top: 35px;
	margin-bottom: 15px;
}

.history-wrap .btn {
	text-transform: uppercase;
}

/* Wrap content
==============================*/

.wrap-content {
	padding: 20px 0;
}

/* Block
==============================*/

.block {
	text-align: center;
}

.block-title {
	border-top: 25px;
	font-size: 30px;
	font-weight: normal;
}

.block-desc {
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
	font-size: 16px;
	margin-top: 20px;
	padding: 0 30px;
}

.block .btn {
	font-size: 14px;
	font-weight: bold;
	margin-top: 20px;
	padding: 15px 50px;
	text-transform: uppercase;
}

/* well list
==============================*/

.well-list {
	padding: 10px 10px 0;
	margin-bottom: 30px;
	background: #e6e7eb;
}

.well-list ul {
	list-style: none;
	padding: 0;
	margin: 0;
}

.well-list li {
	border-bottom: 1px solid #f9f9fa;
	border-top: 1px solid #eeeef2;
	color: #61615f;
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
	font-size: 20px;
	padding: 10px 0;
}

.well-list li:first-child {
	border-top: none;
}

.well-list li:last-child {
	border-bottom: none;
}

.well-list a {
	display: block;
	color: #61615f;
	font-size: 18px;
}

.well-list a:hover,
.well-list .active a {
	color: #428bca;
	text-decoration: none;
}

.well-list a:before {
	content: '\203A';
	vertical-align: text-bottom;
	margin-right: 5px;
}

/* Main content
==============================*/
.main-content {
	background: #fff;
}

.main-content-title {
	margin-top: 0;
	font-size: 24px;
	margin-bottom: 20px;
	font-weight: normal;
}

.main-content-button {
	margin-top: 30px;
	text-align: center;
	font-size: 15px;
}

.main-content-button a {
	text-decoration: underline;
}

.main-content-button .btn {
	text-transform: uppercase;
	margin-top: 20px;
	text-decoration: none;
}

/* Subpage 
==============================*/

/* subpage-nav */

.subpage-nav {
	overflow: hidden;
	position: relative;
}

.subpage-nav:before,
.subpage-nav:after{
	content: "";
	position: absolute;
	left: 0;
	right: 0;
	height: 1px;
	width: 100%;
	background: #e5e5e5;
	z-index: 1;
}

.subpage-nav:before {
	top: 58px;
}

.subpage-nav:after {
	top: 115px;
}

.subpage-nav ul {
	list-style: none;
	padding: 0 8px;
	margin: 0;

	position: relative;

	background: #fff;
	border-bottom: 1px solid #e5e5e5;
}

.subpage-nav li {
	display: inline-block;
	padding: 0 17px;
	margin-bottom: -1px;
}

.subpage-nav a {
	text-transform: uppercase;
	font-weight: bold;
	color: #9e9e9e;
	display: block;

	padding: 20px 0;
}

.subpage-nav a:hover {
	color: #428bca;
	text-decoration: none;
}

.subpage-nav .active > a {
	border-bottom: 1px solid #e30200;
	color: #333;
	position: relative;
	z-index: 2;
}

.subpage-nav ul ul {
	display: none;
}

.subpage-nav ul ul.active,
.subpage-nav ul li:hover ul {
	display: block;
	position: absolute;
	left: 0;
	right: 0;
	top: 59px;
	z-index: 1;

	text-align: center;
}

.subpage-nav ul li:hover ul:before {
	content: "";
    width: 100%;
    height: 2px;
    display: block;
    position: absolute;
    left: 0;
    top: -1px;
}


/* subpage-content */

.voucher-entry {
	background: #fff;
	border-radius: 4px;
	box-shadow: 0 0 1px rgba(0,0,0,.2);

	margin-top: 30px;
}

.voucher-entry .entry-header {
	position: relative;
}

.voucher-entry .entry-thumbnail {
	border-radius: 4px 4px 0 0;
	overflow: hidden;
}

.voucher-entry .entry-header-content {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;

	background: rgba(255,255,255,.9);

	display: none;
}

.voucher-entry:hover .entry-header-content {
	display: block;
}

.voucher-entry .entry-header-content-inner {
	position: absolute;
	top: 50%;
	margin-top: -20px;
	text-align: center;
	width: 100%;
}

.voucher-entry .entry-header-content .btn {
    font-size: 13px;
    padding: 11px 26px;
    font-weight: bold;
    text-transform: uppercase;
}

.voucher-entry .entry-header-content .btn[disabled] {
	background-color: #a6a6a6;
	border-color: #a6a6a6;
	opacity: 1;
}

.voucher-entry .entry-header-content .message {
	padding: 20px 18px;	
}

.voucher-entry .entry-header-content .message a {
	font-weight: bold;	
}

.voucher-entry .entry-content-wrap {
	height: 108px;
	position: relative;
}

.voucher-entry .entry-content-inner {
	position: absolute;
	left: 35px;
	right: 35px;
	top: 50%;
	transform: translate(0, -50%);

	color: #a4a4a4;
}

.voucher-entry .entry-content-wrap .entry-title {
	margin: 0 0 5px;
	font-weight: bold;
	font-size: 16px;
	line-height: 1.4;
}

.voucher-entry .entry-content-wrap .entry-title a {
	color: #333;
}

.voucher-entry .entry-content-wrap .entry-title a:hover {
	color: #0063af;
	text-decoration: none;
}

.more-voucher-big {
	height: 370px;
	width: 100%;
	background: url(../img/more-voucher-big.png) no-repeat center;
	border-radius: 4px;
	background-size: 101%;
}

.more-voucher {
	height: 370px;
	width: 100%;
	background: url(../img/more-voucher.png) no-repeat center;
	border-radius: 4px;
}


/* Voucher single
==============================*/

.single-voucher {
	padding: 30px 30px 20px;
}

.single-voucher .entry-inner {
	padding: 60px 0 50px;
}

.single-voucher .entry-title {
	margin: 0;
	font-size: 16px;
	font-weight: bold;
	float: left;
}

.single-voucher .entry-info {
	float: right;
	font-size: 16px;
	color: #aaa;
}


/* Confirm content
==============================*/

.confirm-content-small {
	text-align: center;
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
	font-size: 15px;
	padding: 60px 160px;
}

.confirm-content-small a {
	text-decoration: underline;
}

.confirm-content {
	background: #fff;
	padding: 25px 45px 30px;
}

.confirm-content .form-control {
	margin-top: 10px;
	display: block;
	background: #ebebeb;
	border-color: #e1e1e1;
	box-shadow: none !important;
}

.confirm-content .form-control:focus {
	background: #fff;
}

.confirm-content .form-inline .radio {
	display: block;
}

.confirm-content .form-inline em {
	display: block;
	margin-top: 10px;
}

/* Infomation
==============================*/
.infomation-content {
	padding: 40px 50px;
}

.information-form {
	margin-top: 40px;
	overflow: hidden;
}

.information-form .control-label {
	text-align: left;
}

.information-form .form-group:not(:last-child) {
	border-bottom: 1px solid #cfd8dd;
}

.information-form .form-control {
	border-width: 0;
	box-shadow: none !important;
}

.information-form .form-textarea .control-label {
	margin-bottom: 10px;
}

.information-form textarea.form-control {
	border-width: 1px; 
	max-width: 100%;
}

.information-form .edit {
	color: #868686;
	text-align: center;
	cursor: pointer;
}

.information-form .edit:hover {
	color: #333;
}


.information-form .checkbox {
	margin-top: 20px;	
}

.information-form .checkbox input[type=checkbox] {
	margin-top: 2px;
}

.information-form .form-button {
	margin-top: 40px;
}


/* Payment
==============================*/
.tindung-list {
	margin-left: 30px;
	margin-bottom: 10px;
}
